XML.Bank/Connected Services/CentralBankServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/XML.CentralBank.Model" />
  <xs:element name="RTGSRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/XML.CentralBank.Model" minOccurs="0" name="requestMessage" nillable="true" type="q1:MT103" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterBankClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bankId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterBankClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterBankClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MT103Callback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/XML.CentralBank.Model" minOccurs="0" name="message" nillable="true" type="q2:MT103" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MT900CallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/XML.CentralBank.Model" minOccurs="0" name="message" nillable="true" type="q3:MT900" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MT910CallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/XML.CentralBank.Model" minOccurs="0" name="message" nillable="true" type="q4:MT910" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>